@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main Color */
:root {
  --primary: #141518;
  --secondary: #27272d;
  --tersier: #f9f9f9;
}

body {
  color: var(--tersier);
  background: var(--primary);
  font-family: "Open Sans", sans-serif;
}

/* Navbar */
.bg-nav-scroll {
  background-color: var(--secondary);
}

nav > a:hover {
  color: var(--secondary);
}

.navbar-brand {
  font-family: "Bebas Neue", cursive;
}
/* Jumbotron */

.neumorphism {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  background: #141518;
  box-shadow: 9px 9px 18px #09090b, -9px -9px 18px #1f2125;
}

#img-profil {
  width: 300px;
}

.btn {
  min-width: 150px;
  padding: 15px 10px;
  margin: 20px;
  background: #141518;
  border: none;
  border-radius: 25px;
  color: var(--tersier);
  box-shadow: 9px 9px 18px #09090b, -9px -9px 18px #1f2125;
}

.btn:hover {
  color: var(--tersier);
  opacity: 0.2;
  box-shadow: inset 9px 9px 18px #09090b, inset -9px -9px 18px #1f2125;
}

/* About */
.text-about h1:after {
  content: " ";
  display: block;
  border-bottom: 7px solid var(--secondary);
  width: 10%;
  padding-bottom: 2px;
  margin-bottom: -9px;
}

.text-about h1 {
  padding-bottom: 20px;
}

.text-about p {
  padding-right: 50px;
}

.about-img {
  filter: grayscale(100%);
}

@media screen and (max-width: 600px) {
  /* Navbar */
  .neumorphism {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background: #141518;
    box-shadow: 9px 9px 18px #09090b, -9px -9px 18px #1f2125;
  }

  /* Home */
  #img-profil {
    width: 200px;
  }
}
