@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main Color */
:root {
  --primary: #141518;
  --secondary: #27272d;
  --tersier: #f9f9f9;
}

body {
  color: var(--tersier);
  background: var(--primary);
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

/* Navbar */
.bg-nav-scroll {
  background-color: var(--secondary);
}

nav > a:hover {
  color: var(--secondary);
}

.navbar-brand {
  font-family: "Bebas Neue", cursive;
}
/* Jumbotron */

.neumorphism {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  background: #141518;
  box-shadow: 9px 9px 18px #09090b, -9px -9px 18px #1f2125;
}

#img-profil {
  width: 300px;
}

.btn {
  padding: 15px 15px;
  margin: 20px;
  background: #141518;
  border: none;
  border-radius: 25px;
  color: var(--tersier);
  box-shadow: 9px 9px 18px #09090b, -9px -9px 18px #1f2125;
}

.btn:hover {
  color: var(--tersier);
  opacity: 0.2;
  box-shadow: inset 9px 9px 18px #09090b, inset -9px -9px 18px #1f2125;
}

/* About */
.text-about h1:after {
  content: " ";
  display: block;
  border-bottom: 7px solid var(--secondary);
  width: 10%;
  padding-bottom: 5px;
  margin-bottom: -9px;
}

.text-about h1 {
  padding-bottom: 20px;
}

.text-about p {
  padding-right: 50px;
}

.about-img {
  filter: grayscale(100%);
}

/* Skills */
#skills {
  height: 1000px;
}

.card {
  background-color: var(--primary);
}

.badge {
  background-color: var(--secondary);
}

.icon {
  max-width: 60px;
}

/* Projects */
#projects {
  height: 1000px;
}

.arrow {
  padding: 10px 15px;
}

.text-projects h1:after {
  content: " ";
  display: block;
  border-bottom: 7px solid var(--secondary);
  width: 20%;
  padding-bottom: 5px;
  margin-bottom: -9px;
}

.category {
  padding: 8px 15px;
}

/* Find Me */
.text-find h1:after {
  content: " ";
  display: block;
  border-bottom: 7px solid var(--tersier);
  width: 10%;
  padding-bottom: 5px;
  margin: auto;
}

.text-find h1 {
  text-align: center;
}

#find-me {
  background: var(--secondary);
}

.outer {
  text-align: center;
}

.social {
  display: inline-block;
  margin: 0 auto;
}

.social a {
  color: var(--tersier);
  font-size: 50px;
}

.social a i {
  transition: 0.9s;
  cursor: pointer;
}

.social a i:hover {
  transform: scale(1.5);
}

/* Modal */
.modal-transparent {
  background: var(--tersier);
  opacity: 0.8;
}

.modal-content {
  background: var(--primary);
}

.btn-closed {
  font-size: 25px;
  color: var(--tersier);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  /* Navbar */
  .neumorphism {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background: #141518;
    box-shadow: 9px 9px 18px #09090b, -9px -9px 18px #1f2125;
  }

  /* Home */
  #img-profil {
    width: 200px;
  }

  .text-about h1 {
    text-align: center;
  }

  .text-about h1:after {
    margin-bottom: -9px;
    margin: auto;
  }

  /* Skills */
  #skills {
    height: 1000px;
  }

  /* Projects */
  #projects {
    height: 1800px;
  }

  .dont-view {
    visibility: hidden;
  }
}

@media (min-width: 992px) {
  .card {
    transition: 0.9s;
    cursor: pointer;
  }
  .card:hover {
    transform: scale(1.06);
  }
}
